.dropbox {
	border: 2px gray dashed;
    margin-left: auto;
    margin-right: auto;
	width: 620px;
	height: 120px;
	border-radius: 5px;
/* 	border-style:dashed; */
/* 	background-color: lightblue; */
}

.dropsbmllogo {
	display:block; 
	margin-left:auto; 
	margin-right:auto;
	margin-top:1em;
/* 	vertical-align: middle; */
}